  <div class="container body">


    <div class="main_container">

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                    회원통계
                  </h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">


            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>회원 사이트 방문수<small>Sessions</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="lineChart"></canvas>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>회원 비율 <small>Sessions</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="canvasDoughnut"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">



          </div>
          <div class="clearfix"></div>
          <div class="row">

          </div>
        </div>
      </div>
      <!-- /page content -->

    </div>
  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="/js/moment/moment.min.js"></script>
  <script src="/js/chartjs/chart.min.js"></script>
  <script src="/js/progressbar/bootstrap-progressbar.min.js"></script>

  <script>
    Chart.defaults.global.legend = {
      enabled: false
    };

    // Line chart
    $.ajax({
      url: '/admin/stat/sign_in',
      type: 'POST',
      dataType: 'json',
      success: function(data){

        console.log(data, data.map(function(obj){ return obj.day }), data.map(function(obj){ return obj.value }));
        var ctx = document.getElementById("lineChart");
        var lineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.map(function(obj){ return obj.day }),
            datasets: [{
              label: "My First dataset",
              backgroundColor: "rgba(38, 185, 154, 0.31)",
              borderColor: "rgba(38, 185, 154, 0.7)",
              pointBorderColor: "rgba(38, 185, 154, 0.7)",
              pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
              pointHoverBackgroundColor: "#fff",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointBorderWidth: 1,
              data: data.map(function(obj){ return obj.value })
            }]
          },
        });
      }
    })

    $.ajax({
      url: '/admin/stat_member',
      type: 'POST',
      dataType: 'json',
      success: function(data){
        console.log(data);
        // Doughnut chart
        var ctx = document.getElementById("canvasDoughnut");
        var role = ["비회원","준회원","정회원","졸업생"]
        var doughnut = {
          labels: data.map(function(obj){return role[obj.role]}),
          datasets: [{
            data: data.map(function(obj){return obj.value}),
            backgroundColor: [
              "#455C73",
              "#9B59B6",
              "#BDC3C7",
              "#26B99A",
              "#3498DB"
            ],
            hoverBackgroundColor: [
              "#34495E",
              "#B370CF",
              "#CFD4D8",
              "#36CAAB",
              "#49A9EA"
            ]

          }]
        };

        var canvasDoughnut = new Chart(ctx, {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: doughnut
        });
      }
    })

  </script>
