<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
  <div class="music">
    &#127900;
  </div>
    <div class ="center">
         <h1>Hello world!</h1>
         <div>Date: 2010-10-23</div>
         <pre>
|---------------------| 
| 휴즈넷 생성기에 오  |
| 신걸 환영합니다.    | 
| 휴즈넷을 생성하기   | 
| 위해선 관리자 비번이| 
| 필요합니다.         | 
----------------------
         </pre>
         <input type="number">
         <input type="submit">
  </body>

  <script>
    document.getElementsByClassName('music')[0].addEventListener("click",function(){
      document.getElementsByTagName("body")[0].innerHTML += "바람부는 날에도 눈내리는 날에도<br>우리들 함께 있다면 언제나 좋아라<br>태양이 져버려도 달빛이 없는 밤에도<br>우리들 함께 가는 길 어디나 밝아라<br>타오르는 젊음이 여기에 모두 모이면<br>반짝이는 저 별속엔 우리의 꿈이(랄랄랄라)<br>바람부는 날에도 눈내리는 날에도<br>우리들 함께 있다면 언제나 좋아라<br>(랄랄랄라 랄랄라 랄랄랄라 랄랄라)<br>(랄랄랄라라 랄라라 랄랄랄랄랄랄라~ 랄라~)"
    })
  </script>
  <style>
  body{
    margin-top: 30px;
  }
    .center{
      width:150px;
      margin:0 auto;
    }
    .music{
      position: absolute;
      right:30px;
      top:30px;
      font-size: 30px;
    }
  </style>
</html>