<style>
#board {
    overflow: hidden;
    height: 100vh;
  }
@media screen and (max-width: 768px){
    #board #article{
      margin-top: 20px
    }
}
</style>
<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.9.3/jquery.fullpage.extensions.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.9.3/jquery.fullpage.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.fullpage/2.9.3/jquery.fullpage.min.css">

<div id="fullpage">
  <div class="section"><img src="/images/index-01.png" alt="" style="max-height:100%;margin: 0 auto;display: block;"></div>
  <div class="section"><img src="/images/index-02.svg" alt="" style="max-height:100%"></div>
  <div class="section"><img src="/images/index-03.svg" alt="" style="max-height:100%"></div>
  <div class="section"><img src="/images/index-04.svg" alt="" style="max-height:100%"></div>
</div>


<script type="text/javascript">
var ready = function(){
    $('#fullpage').fullpage({
        //Navigation
        menu: '#menu',
        lockAnchors: false,
        anchors:['About Us', 'Our Mission', 'Our Plan', 'Contact Us'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['About Us', 'Our Mission', 'Our Plan', 'Contact Us'],
        showActiveTooltip: false,
        slidesNavigation: false,
        slidesNavPosition: 'bottom',

        //Scrolling
        css3: true,
        scrollingSpeed: 700,
        autoScrolling: true,
        fitToSection: true,
        fitToSectionDelay: 1000,
        scrollBar: false,
        easing: 'easeInOutCubic',
        easingcss3: 'ease',
        loopBottom: false,
        loopTop: false,
        loopHorizontal: true,
        continuousVertical: false,
        continuousHorizontal: false,
        scrollHorizontally: false,
        interlockedSlides: false,
        dragAndMove: false,
        offsetSections: false,
        resetSliders: false,
        fadingEffect: false,
        normalScrollElements: '#element1, .element2',
        scrollOverflow: false,
        scrollOverflowReset: false,
        scrollOverflowOptions: null,
        touchSensitivity: 15,
        normalScrollElementTouchThreshold: 5,
        bigSectionsDestination: null,

        //Accessibility
        keyboardScrolling: true,
        animateAnchor: true,
        recordHistory: true,

        //Design
        controlArrows: true,
        verticalCentered: true,
        sectionsColor : ['#FF9800', '#8bc34a','#00bcd4','#795548'],
        paddingTop: '3em',
        paddingBottom: '10px',
        fixedElements: '#header, .footer',
        responsiveWidth: 0,
        responsiveHeight: 0,
        responsiveSlides: false,
        parallax: false,
        parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},

        //Custom selectors
        sectionSelector: '.section',
        slideSelector: '.slide',

        lazyLoading: true,

        //events
        onLeave: function(index, nextIndex, direction){},
        afterLoad: function(anchorLink, index){},
        afterRender: function(){},
        afterResize: function(){},
        afterResponsive: function(isResponsive){},
        afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
        onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
    });
}
var k = 0
$(document).on('turbolinks:load', function(){
  if ($.fn.fullpage) {
    if ($.fn.fullpage.destroy) {
      $.fn.fullpage.destroy('#fullpage');
    }
    if (document.getElementById('fullpage')) {
      if (k++ > 1) {
        window.location.reload()
      }
    }
    return ready()
  }else{
    window.location.reload()
  }
});
</script>
