<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.0/sly.js"></script>
<script type="text/javascript" src="http://darsa.in/sly/examples/js/vendor/plugins.js"></script>

 <link rel="stylesheet" href="/css/index.css">
 <div class="wrap">

 <div class="frame oneperframe" id="oneperframe">
   <ul class="clearfix">
     <li>
         <div class="carousel-inner" id="main-slider">
             <div class="item active">
               <hr style="float: right; margin-bottom: 18px;">
                 <div class="container">
                     <div class="carousel-content">
                         <h1><span>H</span>anyang <span>U</span>niversity<br><span>H</span>ardware and <span>S</span>oftware</h1>
                     </div>
                 </div>
               <hr>
             </div>
         </div>
         <div class="" style="text-align:center">
             다음 페이지로 이동
         </div>
     </li>
     <li>1</li>
     <li>2</li>
     <li>3</li>
     <li>4</li>
   </ul>
   <div class="scrollbar">
     <div class="handle">
       <div class="mousearea"></div>
     </div>
   </div>


 </div>
</div>


<style media="screen">
  /* Example wrapper */
  .wrap {
  	position: relative;
  }

  /* Frame */
  .frame {
  	height: 100vh;
  	overflow: hidden;
  }
  .frame ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	height: 100%;
  	font-size: 50px;
  }
  .frame ul li {
  	float: left;
  	width: 80vw;
  	height: 100%;
  	margin: 0 1px 0 0;
  	padding: 0;
  }
  .frame ul li.active {
  }

  /* Scrollbar */
  .scrollbar {
  	margin: 0 0 1em 0;
  	height: 2px;
  	background: #ccc;
  	line-height: 0;
    position: absolute;
    bottom:0;
    width: 100%;
  }
  .scrollbar .handle {
  	width: 100px;
  	height: 100%;
  	background: #292a33;
  	cursor: pointer;
  }
  .scrollbar .handle .mousearea {
  	position: absolute;
  	top: -9px;
  	left: 0;
  	width: 100%;
  	height: 20px;
  }

  /* Pages */
  .pages {
  	list-style: none;
  	margin: 20px 0;
  	padding: 0;
  	text-align: center;
  }
  .pages li {
  	display: inline-block;
  	width: 14px;
  	height: 14px;
  	margin: 0 4px;
  	text-indent: -999px;
  	border-radius: 10px;
  	cursor: pointer;
  	overflow: hidden;
  	background: #fff;
  	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
  }
  .pages li:hover {
  	background: #aaa;
  }
  .pages li.active {
  	background: #666;
  }
</style>
<script type="text/javascript">
var d_width = $('#board').width();
var d_size = {}
$('#board').css('overflow', 'hidden');
if(screen.width/screen.height > 1){
  d_size = {'width': d_width, 'height': $('#board').height()}
}else {
  d_size = {'width': d_width, 'height': $('#board').height() - 90}
}
$('#oneperframe').css(d_size);
$('#oneperframe').children('ul').children('li').css(d_size);
(function () {
  var $frame = $('#oneperframe');
  var $wrap  = $frame;

  // Call Sly on frame
  $frame.sly({
    horizontal: 1,
    itemNav: 'forceCentered',
    smart: 1,
    activateMiddle: 1,
    mouseDragging: 1,
    touchDragging: 1,
    releaseSwing: 0,
    startAt: 0,
    scrollBar: $wrap.find('.scrollbar'),
    scrollBy: 1,
    scrollTrap: true,
    speed: 300,
    elasticBounds: 1,
    easing: 'easeOutExpo',
    dragHandle: 1,
    dynamicHandle: 1,
    clickBar: 1,

    // Buttons
    prev: $wrap.find('.prev'),
    next: $wrap.find('.next')
  });
}());
</script>

</body>
</html>
